header {
  color: var(--header-color);
}

.search_mobile {
  display: none;
}

.burger {
  display: none;
  width: 60px;
  height: 20px;
}

.burger span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #343c6a;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 36px;
  height: 36px;
}

.wrapper {
  max-width: 1356px;
  padding: 18px 43px;
  display: flex;
  align-items: center;
  gap: 5%;
}

.content {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content p {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
}

.account {
  display: flex;
  gap: 30px;
  align-items: center;
}

.search {
  position: relative;
  background-color: var(--main-color);
  padding: 15px 50px;
  border-radius: 40px;
}

.search_mobile {
  display: none;
  position: relative;
  background-color: var(--main-color);
  width: 325px;
  height: 40px;
  margin: auto;
  border-radius: 40px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.search img {
  position: absolute;
  left: 20px;
  top: 17px;
  cursor: pointer;
}

.search_mobile img {
  position: absolute;
  left: 20px;
  width: 15px;
}

.search input,
.search_mobile input {
  background-color: var(--main-color);
  border: none;
}

input::placeholder {
  color: #8ba3cb;
  font-size: 15px;
  line-height: 18.15px;
}

input:focus {
  outline: var(--main-color);
}

.settings,
.notification {
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}

.settings img,
.notification img {
  width: 25px;
  height: 25px;
  padding: 12px;
}

.ava_mobile {
  display: none;
}

.ava img {
  cursor: pointer;
  width: 60px;
}

@media (max-width: 920px) {
  .settings,
  .notification,
  .logo_wrapper {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 580px) {
  .content {
    flex-wrap: wrap;
  }
  .ava {
    display: none;
  }
}

@media (max-width: 535px) {
  .ava_mobile {
    display: inline;
  }
  .wrapper {
    padding: 25px 25px 20px 25px;
    gap: 30%;
  }
  .burger {
    height: 15px;
  }
  .burger span {
    width: 20px;
  }

  .content p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
  }
  .ava_mobile {
    width: 35px;
    height: 35px;
  }

  .account {
    display: none;
  }

  .search_mobile {
    display: flex;
  }
}
