form {
  display: flex;
  flex-direction: column;
}

.form_inner {
  display: flex;
  gap: 30px;
}

.form_side {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.form_item label {
  color: #232323;
  font-size: 16px;
}

.form_item input {
  width: 410px;
  height: 50px;
  border: 1px solid #dfeaf2;
  border-radius: 15px;
}

.mark {
  position: absolute;
  right: 25px;
  bottom: 25px;
  height: 6px;
  width: 12px;
  cursor: pointer;
}

.form_item input::placeholder {
  padding-left: 15px;
}

.submit {
  margin-top: 25px;
  width: 190px;
  height: 50px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  background-color: var(--active-color);
  margin-left: auto;
}

@media (max-width: 768px) {
  .form_inner {
    flex-wrap: wrap;
  }
}

@media (max-width: 535px) {
  .form_inner label {
    font-size: 13px;
  }
  .form_item input {
    width: 285px;
    height: 40px;
  }
  .form_side {
    gap: 10px;
  }
  .form_item input::placeholder {
    font-size: 12px;
  }
  .form_inner {
    gap: 15px;
  }
  .submit {
    width: 285px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 9px;
    font-size: 15px;
  }
}
